* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

#main-box{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

#main-content{
    width: 40%;
}

#logo-super-mario{
    width: 300px;
}

#main-content p{
    font-size: 21px;
    line-height: 2.5rem;
    margin: 15px 0;
    color: #fff;
}

button{
    background: #c51111;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 200px;
}

#mario-and-luigi{
    height: 600px;
}

#bg-video{
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#bg-video video{
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
}

#gradient{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

#contact{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 13px;
    position: fixed;
    left: -400px;
    z-index: 4;
    transition: left 1s;
}

#contact h2{
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
}

#contact input, textarea{
    height: 35px;
    width: 300px;
    padding-left: 10px;
    outline-color: chartreuse;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contact textarea{
    height: 100px;
    padding-top: 10px;
}

#gradient-form{
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}